.idea/
.DS_Store
.ipynb_checkpoints/
__pycache__/
.hf_cache
outputs/
watch_folder/
data/
data
.vscode
old
sample_results/
slurm/
srun.sh
srun/
docs/
other/
other
scripts/slurm
scripts/slurm/*
core.*
!configs/data/
outputs
outputs/
selected_samples_presentation/